<div class="content-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title fxLayout>
                <span>Customers</span>
                <span fxFlex=""> </span>
                <button class="addButton" mat-mini-fab fxflex="nogrow" (click)="addCustomer()">
                    <mat-icon aria-label="Add Customer">add</mat-icon>
                </button>
            </mat-card-title>
        </mat-card-header>
        
        <!-- Option 1: Use mat-card elements for each customer in the list. -->
        <div class="list-container">
            <mat-card class="card-list" *ngFor="let cust of (customers$ | async)">
                <mat-card-header style="display:flow-root">
                    <mat-card-title-group>
                        <mat-card-title>{{cust.firstName | titlecase}} {{cust.lastName | titlecase}}</mat-card-title>
                        <button mat-mini-fab style="margin-left: 40px">
                            <mat-icon [svgIcon]="cust.statusCode | statusIcon" (click)="openDetail(cust)"></mat-icon>
                        </button>
                    </mat-card-title-group>
                </mat-card-header>
                <mat-card-content>
                    {{cust.phoneNumber}}
                </mat-card-content>
                <mat-card-content>
                    {{cust.emailAddress}}
                </mat-card-content>
                <mat-card-content>
                    {{cust.statusCode}}
                </mat-card-content>
                <mat-card-content>
                    {{cust.lastContactDate | date}}
                </mat-card-content>
            </mat-card>
        </div>
        
        <!-- Option 2: Use a mat-list with mat-list-item elements for each customer in the list. -->
        <div class="list-container">
            <mat-list class="flex-list">
                <mat-list-item *ngFor="let cust of (customers$ | async)">
                    <mat-icon matListItemAvatar [svgIcon]="cust.statusCode | statusIcon"></mat-icon>
                    <span matListItemTitle>{{cust.firstName | titlecase}} {{cust.lastName | titlecase}}
                        <button mat-icon-button color="primary" (click)="openDetail(cust)" fxLayoutAlign="end">
                            <mat-icon aria-label="View customer detail">edit_note</mat-icon>
                        </button>
                    </span>
                    <span matListItemLine>{{cust.phoneNumber}}</span>
                    <span matListItemLine>{{cust.emailAddress}}</span>
                    <span matListItemLine>{{cust.statusCode}}</span>
                    <span matListItemLine>{{cust.lastContactDate | date}}</span>
                </mat-list-item>
            </mat-list>
        </div>

        <table class="htmlAsyncTable">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Last Contact</th>
                    <th></th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cust of (customers$ | async)">
                    <td>
                        <mat-icon [svgIcon]="cust.statusCode | statusIcon"></mat-icon>
                    </td>
                    <td>
                        {{cust.firstName | titlecase}} {{cust.lastName | titlecase}}
                    </td>
                    <td>
                        {{cust.phoneNumber}}
                    </td>
                    <td>
                        {{cust.emailAddress}}
                    </td>
                    <td>
                        {{cust.statusCode}}
                    </td>
                    <td>
                        {{cust.lastContactDate | date}}
                    </td>
                    <td (click)="openDetail(cust)">
                        <span fxLayoutAlign="end">
                            <button mat-icon-button color="primary">
                              <mat-icon aria-label="View customer detail">edit_note</mat-icon>
                            </button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </mat-card>
</div>