@model SimpleCrm.Customer
@{
    ViewBag.Title = @Model.LastName;
}

<h1>@Model.FirstName @Model.LastName</h1>

<div>
    @Html.ActionLink("Back", nameof(SimpleCrm.Web.Controllers.HomeController.Index))
</div>
