@model SimpleCrm.Customer
@{
    ViewBag.Title = @Model.LastName;
}

<h1>@Model.FirstName @Model.LastName</h1>
<div>
    <a asp-action="Edit" asp-route-id=@Model.Id>Edit</a>
</div>
<div>
    <a asp-action="Index">Back</a>
</div>
