@model IEnumerable<SimpleCrm.Customer>

<html>
<head>
    <title>Simple CRM</title>
</head>
<body>
    <h1>Customers</h1>
    <p>Welcome to the customers page.</p>
    <table>
    @{
        void displayCustomer(SimpleCrm.Customer cust)
        {
            <tr>
                <td>@cust.Id</td>
                <td>@cust.FirstName</td>
                <td>@cust.LastName</td>
                <td>@cust.PhoneNumber</td>
            </tr>
        }

        foreach (var customer in Model) {
            displayCustomer(customer);
        }
    }
    </table>
</body>
</html>