@model HomePageViewModel
@{
    ViewBag.Title = "Customers";
}

<h1>Customers</h1>
@foreach (var customer in Model.Customers)
{
    <partial name="_Summary" model="customer" />
}

<div>
    <a asp-action="Create">Create</a>
</div>