<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/css/vendor.min.css">
</head>
<body>
    <div>
        @await Component.InvokeAsync("LoginLogout")
    </div>
    <div>
        @RenderBody()
    </div>
    <footer>
        @await Component.InvokeAsync("Greeting")
        &copy; @DateTime.Now.Year Ryan Lavery
    </footer>
    <script src="/js/vendor-post.min.js"></script>
</body>
</html>