@{
    ViewData["Title"] = "About";
}

<div class="content">
    <h1>Product</h1>
    <div>
        Main Content Here
    </div>
    <div style="height: 800px; line-height:800px;">
        ...generating scrollbar...
    </div>
    <div id="pricing">
        <h2>Pricing</h2>
    </div>
</div>
