@{
    ViewData["Title"] = "Contact";
}

<style>
    .mdl-list__item-primary-content img, i {
        width: 24px;
        height: 24px;
    }

    .mdl-list__item-primary-content a {
        text-decoration: none !important;
        color: rgb(66,66,66) !important;
        margin-left: 20px;
    }
</style>

<div class="content">
    <h2>Contact Us</h2>

    <ul class="demo-list-icon mdl-list">
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <img src="/img/twitter.logo-black.png" alt="Twitter" /><a href="#">Twitter</a>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <img src="/img/Facebook_Logo_Secondary.black.png" alt="Facebook" /><a href="#">Facebook</a>
            </span>
        </li>
        <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons">email</i><a href="mailto:email@example.com">E-Mail</a>
            </span>
        </li>
    </ul>

</div>
