<div class="content-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title fxLayout>
        <span>Customers</span>
        <span FxLayoutAlign="center">
          <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput [formControl]="filterInput" />
            <button mat-icon-button *ngIf="filterInput.value" matSuffix aria-label="Clear"
              (click)="filterInput.setValue('')">
              <mat-icon>cancel</mat-icon>
            </button>
            <mat-icon *ngIf="!filterInput.value" matSuffix>filter_list</mat-icon>
          </mat-form-field>
        </span>
        <span fxFlex=""> </span>
        <button class="addButton" mat-mini-fab fxflex="nogrow" (click)="addCustomer()">
          <mat-icon aria-label="Add Customer">add</mat-icon>
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <crm-customer-list-table [customers]="(filteredCustomers$ | async)"
        (openCustomer)="openDetail($event)"></crm-customer-list-table>
    </mat-card-content>
  </mat-card>
</div>