.mat-mdc-card-header {
  padding: 16px 16px;
}

.mdc-button {
  font-weight: normal;
}

.login-button {
  margin: 20px 0 8px 0;
  width: 100%;
  justify-content: flex-start;
}

.size-24 {
  width: 24px;
  height: 24px;
  transform: scale(2);
  margin-right: 20px !important;
}

.mat-mdc-card-actions {
  padding: 24px 0 16px 16px;
}
