.content {
    width: 80%;
    margin: auto;
}

.content .fab-right {
    position: absolute;
    right: 40px;
    top: 90px;
    z-index: 999;
}

.mdl-textfield__error.field-validation-error {
    visibility: visible;
}